<?xml version="1.0"?>
<model>
  <name>Actuator Bottom</name>
  <version>1.0</version>
  <sdf version='1.4'>actuator.urdf</sdf>

  <author>
   <name>Cory Ye</name>
   <email>coryy@andrew.cmu.edu</email>
  </author>

  <description>
    Bottom actuator for Fenestration Robot
  </description>
</model>
